*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html{
	color:#fff;
    background-color: #121212;
	font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase; 
}

body{
    width: 100%;
    height: 100%;
}

#title{
    margin-top: 15px;
}

.content{
    margin: 0px 14vw;
    text-align: justify;
    text-justify: inter-word;
}

.container{
    display: flex;
    flex-direction: column;
}

.container p{
    font-size: 26px;
}

.navbar{
    color: white;
    background-color: #121212;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.navbar ul{
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar li{
    margin: 3vh 3vw 3vh 3vw; 
}

.navbar li a{
    text-decoration: none;
    color: white;
    align-self: center;
    font-size: larger;
    font-weight: bold;
}
 
.navbar a:hover {
    color: #63c7b2;
}

.navbar a:active {
    color: #80ced7;
}

.subtitle{
    padding-top: 4vh;
    font-size: 1.8em;
    text-align: center;
}

#about{
    width: 100%;
    height: auto;
    background-image: linear-gradient(-110deg, #63c7b2 0%, #764ba2 100%);
    display: flex;
    flex-direction: column;
}

#about a{
    text-decoration: none;
}

#about a:hover{
    color: white;
}

.par1{
    padding: 3vh 8vw 6vh 8vw;
    text-align: center;
}

.divider{
    width: 100%;
}

#experience{
    width: 100%;
    height: auto;
    background-color:#121212;
}

.boxes{
    display: flex;
    margin: 5vh 2vw;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.box{
    border-radius: 6px;
    max-width: 400px;
    margin: 3vh 2vw;
    padding:2vh 2vw;
    background-color: #ffffff;
    color: black;
    text-align: center;
}

.job-place{
    width: 150px;
}

.job-title{
    font-size: 1.5em;
    font-weight: bold;
    padding: 1vh 0;
}

.job-dates{
    padding: 1vh 0;
}

.box ul{
    list-style-position: inside;
}

.box li{
    text-align: left;
    font-size: 1.2em;
}

.box p{
    text-align: left;
    font-size: 1.2em;
}

.box a{
    text-decoration: none;
    color: #764ba2;
    font-weight: bold;
}

#portfolio{
    width: 100%;
    height: auto;
    background-color: #716fa7;
}

.projects{
    display: flex;
    margin: 5vh 0;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.project{
    border-radius: 12px;
    width: 30%;
    min-width: 280px;
    max-width: 400px;
    margin: 2vh 10px;
    background-color: #252429;
    color: white;
    text-align: center;
}

.project a{
    text-decoration: none;
    color: inherit;
}

.project p{
    padding: 8px 15px;
    text-align: left;
    font-size: 1.2em;
}

.banner{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    height: auto; 
}

.icons{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 1vh;
}

.icons a{
    margin-right: 2vw;
}

.icons i{
    font-size: 30px;
}

.fa:hover { 
    color:#80ced7; 
}

.tags{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}

.tag{
    margin: 0 1vw; 
    padding: 1vh 0.5vw;
    border-radius: 6px;
    color: white;
    text-align: center;
}
.tag:nth-child(odd){
    background-color: #716fa7;
    color: white;
}
.tag:nth-child(even){
    background-color: #5c9b9a;
    color: white;
}

.archive{
    display:none; 
}

#project-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}

.project-btn {
    border: none;
    outline: none;
    padding: 1vh 1vw;
    margin: 4vh 1vw 2vh 1vw;
    background-color: #66b0af;
    color: white;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
}
  
.project-btn:hover {
    background-color: #666;
}
  
.project-btn.active {
    background-color: #356160;
}

#activities{
    width: 100%;
    height: auto;
}

.acts{
    display: flex;
    margin: 5vh 0;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.activity{
    margin: 2vh 1vw;
    width: 30%;
    min-width: 280px;
    max-width: 400px;
    background-color:white;
    color: black;
    text-align: center;
    display: none !important;
}

.show{
    display: block !important;
}

.activity p{
    text-align: center;
    font-size: 1em;
    padding: 1vh 2vw 2vh 2vw;
}

.activity-date{
    padding: 0;
    padding-top: 1vh;
    color: #252429;
}

.photo{
    margin: 3vh 0;
    width: 90%;
    height: auto; 
}

/* Style the buttons */

#myBtnContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.btn {
    border: none;
    outline: none;
    padding: 1vh 1vw;
    margin: 4vh 1vw 2vh 1vw;
    background-color: #716fa7;
    color: white;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
}
  
.btn:hover {
    background-color: #666;
}
  
.btn.active {
    background-color: #66b0af;
    color: white;
}

.footer{
    padding: 2vh 0;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;    
    background-color: #121212;
}

.socials i{
    font-size: 40px;
    padding: 0 10px;
    color:#716fa7;
}


/* Underline From Center: https://github.com/IanLunn/Hover/blob/master/css/hover.css */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #54b6aa;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.08);
}

/* Float */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}

/* Grow Rotate */
.hvr-grow-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
    -webkit-transform: scale(1.05) rotate(2deg);
    transform: scale(1.05) rotate(2deg);
}

.hvr-grow-rotate-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow-rotate-left:hover, .hvr-grow-rotate-left:focus, .hvr-grow-rotate-left:active {
    -webkit-transform: scale(1.05) rotate(-2deg);
    transform: scale(1.05) rotate(-2deg);
}


/* Daniel Österman 2019 Wave Animation */
.waves {
    position:relative;
    width: 100%;
    height:10vh;
    min-height:50px;
    margin-bottom:-7px; /*Fix for safari gap*/
}
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:10vh;
    }
    
  }
  

  